.coverterMain{
  margin: 0;
  composes: FlexCenter from '../../../styles/GlobalStyles.module.css';
  composes: TextAlignCenter from '../../../styles/GlobalStyles.module.css';
  min-height: 30vh;
}
.equals {
  composes: TextColor from '../../../styles/GlobalStyles.module.css';
  font-weight: bold;
  font-size: 2rem;
}

.slideInBckCenter {
	animation: slide-in-bck-center 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-bck-center {
    0% {
      -webkit-transform: translateZ(600px);
              transform: translateZ(600px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }