@import '../../App.css';
.Link{
    text-decoration: var(--link-no-decoration);
    display: var(--display-link-as-button);
    padding: 0;
    text-align: center;
    border-radius: var(--link-border-radius);
    font-weight: bold;
}
.Size{
    width: var(--link-width);
    height: var(--link-hieght);
}
.Color{
    color: var(--link-text-color);
}
.Background{
    background: var(--link-background);
}
.Link:hover {
    background-color: var(--hover-overlay);
}
.borderRadius{
    border-radius: 8px;
}
.Wrappper{
    width:30vw;
    display: flex;
    justify-content: center;
}