.positive {
    color: var(--positive2);
    transition: color 1s;
}

.negative{
    color: var(--negative2);
    transition: color 1s;
}

.same{
    color: blue
}
.dd{
    display: flex;
    justify-content: center;
}


.tableCovertor {
    margin-bottom: 1vh;
    width: 50vh;
    overflow: hidden;
    border-radius: 1vh;
    border-collapse: collapse;
}

.tableHeader{
    background-color: var(--table-header);
    transition: background-color 1s;
    color: white;

}

.tableBody{
    background-color: var(--table-background);
}
