
.positive {
    color: var(--positive2);
}

.negative{
    color: var(--negative2);
}

.same{
    color: blue
}
.table{
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    margin-bottom: 5vh;
}

.tableBody{
    background-color: var(--table-background);
}

.icon-color {
    color: var(--grahp-color);
}
.text-color{
    color: var(--text-color);
}
.date{
    text-align: center;
}
.date-border-color {
    border-bottom : 1px solid var(--date-color) !important ;
}
.date-border-color:hover::before {
    border-bottom : 2px solid var(--date-color) !important ;
}
.date-border-color::after {
    border-bottom : 2px solid var(--date-color) !important ;
}

.date-label-color{
    color: var(--date-color) !important;
}
.date-input-color{
    color: var(--date-color-input) !important;
}

.date-search {
    color: var(--date-color) !important;
}
.event-color{
    color: var(--event-color);
}
.button-class{
    background-color: transparent;
    color: rgba(0, 0, 0, 0.87);
    width: 56px;
    height: 56px;
    outline: 0;
    box-shadow: var(--shadow-1),
                var(--shadow-2),
                var(--shadow-5);
    border:0;
    
}


.slide-in-bck-center-table {
	animation: slide-in-bck-center 1.2s ;
}

@keyframes slide-in-bck-center {
    0% {
    
        transform: translateZ(600px);
        opacity: 0;
    }
    100% {
        transform: translateZ(0);
        opacity: 1;
    }
  }


  .disabled{
      color: gray;
  }