@import '../App.css';
.TextColor{
    color:var(--link-text-color);
}
.CardBackground {
    background: var(--card-background);
}
.FlexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.TextAlignCenter {
    text-align: center;
}
.TransparentNoneBorderButton{
    border: 0;
    background-color: transparent;
}