.gridButton{
    height: var(--navbar-height);
    width: 100%;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
.GoToLocation, .OpenInGoogleMap{
    composes: TransparentNoneBorderButton from '../../../../styles//GlobalStyles.module.css';
    border-radius: 4px;
}