@import '../../App.css';
.Picker {
    height: 30px;
    width: 150px;
    overflow: hidden;
    margin-bottom: 1vh;
    color: var(--color-text);
    background-color: var(--background-list);
}
.open {
    overflow: visible;
}

.list {
    z-index: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 30vh;
    border: 1px solid var(--background-list);
    border-top: none;
    background:  var(--background-list);
    composes: PositionRelative from '../../styles/GlobalStyles.module.css';
    padding: 0;
} 