.grid-button{
    background-color: var(--card-background);
    position: absolute;
    height: var(--navbar-height);
    width: 100%;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
.GoToLocation{
    border: 0;
    background-color: transparent;
    bottom: 0;
    left: 0;
    border-radius: 4px;
}

/* @media only screen and (max-width: 960px) {
    .mapRelative {
        position: relative;
        top: 75px;
    }
}
@media only screen and (min-width:961px)  and (max-width: 1920px) {

    .mapRelative {
        position: relative;
        top: 75px;
    }
}
@media only screen and (max-width: 430px) {

    .mapRelative {
        position: relative;
        top: 137px;
    }
} */