.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  text-align: center;
  height: 100%;
  background-color: var(--web-background);
}
html, body {
  height: 100%;
  background-color: var(--web-background);
  width: 100%;
}
#root {
  min-height: 100%;
}

*::-webkit-scrollbar {
  width: 10px;
}

/* Track */
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #333; 
  border-radius: 10px;
}
 
/* Handle */
*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color); 
  border-radius: 10px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-hover-background); 
}
*{
  scroll-behavior: smooth;
}
:root {
  --LoaderLineRed: hsl(0, 80%, 60%);
  --LoaderLineYellow: hsl(60, 80%, 60%);
  --LoaderLineGreen:hsl(120, 80%, 60%);
  --LoaderLineAzure: hsl(180, 80%, 60%);
  --LoaderLineBlue:hsl(240, 80%, 60%);
  --ErrorSnackbarTextColor: rgb(97, 26, 21);
  --ErrorSnackbarBackground: rgb(253, 236, 234);
  --hover-overlay:  rgba(78, 156, 175, 0.51);
  --nav-bar-background:  #c3c3c3;
  --negative: hsl(350, 100%, 31%);
  --positive:  rgb(11, 82, 28);
  --section-header-text:  #4B4C4F;
  --shadow-1:  rgba(0, 0, 0, 0.1);
  --shadow-2:  rgba(0, 0, 0, 0.2);
  --shadow-5:  rgba(0, 0, 0, 0.5);
  --shadow-05:  rgba(0, 0, 0, 0.5);
  --text-shadow-1: 0 0 30px rgba(88, 86, 86, 0.589);
  --text-shadow-2:rgba(88, 86, 86, 0.589), 0 0 60px rgba(88, 86, 86, 0.2);
  --text-shadow-3:0 0 30px rgba(88, 86, 86, 0.6), 0 0 60px rgba(88, 86, 86, 0.4);
  --text-shadow-4: 0 0 30px rgba(88, 86, 86, 0.6), 0 0 60px rgba(88, 86, 86, 0.4), 0 0 100px rgba(88, 86, 86, 0.1);
  --text-shadow-5: 0 0 30px rgba(88, 86, 86, 0.6), 0 0 60px rgba(88, 86, 86, 0.4), 0 0 110px rgba(88, 86, 86, 0.2), 0 0 100px rgba(88, 86, 86, 0.1);
  --web-background:  #e2e1e1;
  --link-text-color: black;
  --link-no-decoration: none;
  --display-link-as-button:  block;
  --link-width: 20vw;
  --link-hieght: 3vh;
  --link-border-radius: 5px;
  --coin-background: #d9a760;
  --icon-color: purple;
  --button-background: rgba(75,76,79,0.33);
  --table-header:#3d0080;
  --table-background: #bbbbbb;
  --scrollbar-color:#aca9a9;
  --scrollbar-hover-background: #757575;
  --background-list: #fff;
  --background-list-hover: #6d6d6d59;
  --color-text: #666;
  --background-input : #cac1c1;
  --color-text2: rgb(165, 165, 165);
  --loading-backgorund: rgb(165, 165, 165);
  --grahp-color:#2f3bc7;
  --text-color: #000000;
  --date-color: green;
  --date-color-input: black;
  --event-color: black;
  --card-background: #e8e4e4;
  --not-found-color: rgb(131, 131, 131);
  --fill-background:hsl(220, 85%, 65%);
  --navbar-mobile-background : rgb(155, 155, 155);
  --popover-color:#cccccc;
  }

.darkmode:root, .darkmode {
  --ErrorSnackbarTextColor:rgb(255 227 224);
  --ErrorSnackbarBackground: rgb(24, 6, 5);
  --LoaderLineRed: hsl(0, 69% ,72%);
  --LoaderLineYellow: hsl(60, 69% ,72%);
  --LoaderLineGreen: hsl(120, 69% ,72%);
  --LoaderLineAzure: hsl(180, 69% ,72%);
  --LoaderLineBlue: hsl(240, 69% ,72%);
  --background-list: #464646;
  --background-input : #635e5e;
  --background-list-hover: #6d6d6d59;
  --color-text: #a09898;
  --color-text2: rgb(165, 165, 165);
  --date-color: rgb(139, 209, 139);
  --date-color-input: rgba(255, 255, 255, 0.69);
  --event-color: rgb(248, 242, 242);
  --hover-overlay:  rgba(255, 255, 255, 0.1);
  --nav-bar-background:  #242526;
  --negative: hsl(350, 100%, 77%);
  --positive: #81c784;
  --text-shadow-1:  0 0 30px rgba(255, 255, 255, 0.25);
  --text-shadow-2:0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  --text-shadow-3:0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  --text-shadow-4: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  --text-shadow-5:0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  --shadow-1:  rgba(0, 0, 0, 0.1);
  --shadow-2:  rgba(0, 0, 0, 0.2);
  --shadow-5:  rgba(0, 0, 0, 0.5);
  --shadow-05:  rgba(82, 82, 82, 0.5);
  --web-background:  #18191A;
  --link-background: #4E9CAF;
  --link-text-color: white;
  --link-no-decoration: none;
  --display-link-as-button:  block;
  --link-width: 20vw;
  --link-hieght: 3vh;
  --link-border-radius: 5px;
  --coin-background: #d9a760;
  --icon-color: #ba68c8;
  --button-background: #333;
  --table-header:#9c27b0;
  --table-background: rgba(208,208,208,0.35);
  --scrollbar-color:#3a3b3c;
  --scrollbar-hover-background: #636363;
  --background-list: #464646;
  --background-input : #635e5e;
  --color-text: #a09898;
  --color-text2: rgb(165, 165, 165);
  --loading-backgorund: rgb(165, 165, 165);
  --grahp-color:#b9bfff;
  --text-color: #bbb9b9;
  --card-background: #756d6d;
  --not-found-color: #fff;
  --fill-background:hsl(220, 100%, 82%);
  --navbar-mobile-background : rgb(36, 37, 38);
  --popover-color: #545252;
}