.error-cant-search-limit{
    background-color: #ce4a60;
    height: 5vh;
    display: flex;
    border-radius: 8px;
    margin: 0px 10vw;
  }
  .error-text{
      margin: 0 0 0 3vh;
      font-size: 2vh;
  }