.is-visible {
	animation: slide-in-bck-center 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-bck-center {
    0% {
      -webkit-transform: translateZ(600px);
              transform: translateZ(600px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
}

.no-visible{
    animation: bounce-out-top 1.5s both;
}

@keyframes bounce-out-top {
    0% {
              transform: translateY(0);
              animation-timing-function: ease-out;
    }
    5% {
              transform: translateY(-30px);
              animation-timing-function: ease-in;
    }
    15% {
              transform: translateY(0);
              animation-timing-function: ease-out;
    }
    25% {
              transform: translateY(-38px);
              animation-timing-function: ease-in;
    }
    38% {
              transform: translateY(0);
              animation-timing-function: ease-out;
    }
    52% {
              transform: translateY(-75px);
              animation-timing-function: ease-in;
    }
    70% {
              transform: translateY(0);
              animation-timing-function: ease-out;
    }
    85% {
      opacity: 1;
    }
    100% {
              transform: translateY(-800px);
      opacity: 0;
    }
  }